<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"><b>Home</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span><i class="fa fa-sign-out icon-color" aria-hidden="true" routerLink=""></i></span>
      
    </div>
  </nav>
  <router-outlet></router-outlet>